appdirs==1.4.4
astropy==4.2
atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cmake==3.18.4.post1
colorama==0.4.4
cycler==0.10.0
dask==2021.1.0
decorator==4.4.2
dlib==19.21.1
face-recognition==1.3.0
face-recognition-models==0.3.0
Flask==1.1.2
homebrew==0.2.1
idna==2.10
imageio==2.9.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.3
networkx==2.5
numpy==1.19.5
opencv-python==4.5.1.48
packaging==20.8
Pillow==8.1.0
pip==20.3.3
pluggy==0.13.1
pooch==1.3.0
py==1.10.0
pyamg==4.0.0
pybind11==2.6.1
pyerfa==1.7.1.1
pyparsing==2.4.7
pytest==6.2.1
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
QtPy==1.9.0
requests==2.25.1
scikit-image==0.18.1
scipy==1.6.0
SimpleITK==2.0.2
six==1.15.0
soupsieve==2.1
tifffile==2021.1.14
toml==0.10.2
toolz==0.11.1
urllib3==1.26.2
Werkzeug==1.0.1
wheel==0.36.2
youtube-dl==2021.1.8
gunicorn==19.9.0