/*Core.CSS is the BASELINE. This is something that needs to be there for all of our clubs. Theming stuff does not go here!*/

nav {
  width: auto;
  overflow: hidden;
  font-size: 1.25em;
}

nav ul {
  margin: 0;
  padding: 0;
}

#dropContainer {
    height:22rem;
    width:40rem;
    margin:auto;
    border:2px dashed grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upload {
  font-size: 6rem;
}

.left {
  float: left;
}

.right {
  float: right;
}

nav ul li {
  list-style: none;
  margin: 0;
  padding: 1em;
}

nav ul li.header {
  font-weight: bold;
}

nav:after {
  content: '';
  display: block;
  clear: both
}

/*landing*/

.landing {
  height: 20rem;
  padding: 15rem 0 19rem;
}

.container {
  padding: 8rem 0 7rem;
}

.section {
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.login {
  padding: 4rem;
  margin-left: 15rem;
  margin-right: 15rem;
}

.landing-title {
  font-size: 8rem;
}

.article {
  padding: 4rem;
  margin-bottom: 5rem;
}

.event {
  padding: 4rem;
}

img {
  max-height: 100%;
  max-width: 100%;
}

/*Set your custom screen width here replacing 700*/

@media (max-width: 700px) {
  .landing-title {
    font-size: 6rem;
  }
}

.centered {
  text-align: center;
}


.serif {
  font-family: "Helvetica";
}

.light {
  opacity: 0.5;
}

footer {

  margin: 0;
  padding: 1em;
}


ul.nobullets {
  list-style-type: none;
}

.inline {
  display: inline-block;
}

.sub-section {
  border-radius: 0.25em;
  padding: 0.5em;
  margin: 0.5em;
}

h5 {
  text-align: center;
}