<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
	<title>iMissing</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/theme.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/core.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/skeleton.css') }}">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600&display=swap" rel="stylesheet">
	<link ... href="{{ url_for('static', filename='css/core.css') }}" />
	<script src="assets/dropzone-5.7.0/dist/dropzone.js"></script>
	<script src="https://kit.fontawesome.com/dc362052b9.js" crossorigin="anonymous"></script>



</head>

<body>
	<nav class="primary ">
		<ul>
			<li class="left header">
				<a href="index.html">iMissing</a>
			</li>
			<li class="right special">
				<a href="auth/index.html">Contact</a>
			</li>
			<li class="right ">
				<a href="gallery/index.html">FBI Database</a>
			</li>
		</ul>
	</nav>
	<div class="section">
		<div class="container">
			<h5>Finding missing people with machine learning.</h5>
			<div id="dropContainer">
				<i class="fas fa-file-upload upload"></i>
				        <form method="POST" action="" enctype="multipart/form-data">
      <p><input type="file" name="file"></p>
      <p><input type="submit" value="Submit"></p>
    </form>
    <hr>
    {% for file in files %}
      <img src="{{ url_for('upload', filename=file) }}" style="width: 64px">
    {% endfor %}
  </div>
</form>

			</div>
		</div>
	</div>

	<div class="section shaded">
		<div class="container">
			<h3>Our Impact</h3>
			<div class="row centered">
				<div class="four columns">
					<h1>97</h1>
					<h6>Missing people in our database</h6>
				</div>
				<div class="four columns">
					<h1>8</h1>
					<h6>FBI Databases to chose from</h6>
				</div>
				<div class="four columns">
					<h1>2021</h1>
					<h6>Databases are current to our year</h6>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
